.shop-cart-container {
    background-color: #fafafa;

    .shop-cart {
        padding-bottom: 50px;
        .cart-item {
            background-color: #fff;
            width: 100%;
            height: auto;
            margin-bottom: 15px;
            margin-top: 2px;

            .item-name {
                height: 40px;
                line-height: 40px;
                text-indent: 10px;
                font-weight: normal;
            }
            .item-body {
                height: 80px;
                border-top: 1px solid #eeecec;
                border-bottom: 1px solid #eeecec;
                padding: 6px;
                .selected {
                     
                    width: 10%;
                    height: 100%;
                    line-height: 80px;
                    text-align: center;
                    float: left;
                    input {

                    }
                }
                .item-img {
                    width: 20%;
                    height: 100%;
                    float: left;
                    padding: 0 15px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .item-body-content {
                    position: relative;
                    width: 55%;
                    float: left;
                    p {
                        font-size: 0.2rem;
                    }
                    .counter { 
                        margin-top: 8px;
                        button {
                            width: 30px;
                            height: 30px;
                            background-color: rgb(228, 228, 228);
                        }
                        input {
                            width: 28px;
                            height: 28px;
                            // background-color: rgb(228, 228, 228);
                            border: none;
                            outline: 1px solid #ccc;
                            margin: 0 1px;
                            text-align: center;
                        }
                    }
                    .delete-icon {
                        font-size: 0.5rem;
                        // background-color: rgb(78, 163, 163);
                        padding: 2px 8px;
                        position: absolute;
                        right: 10px;
                        bottom: 0;
                    }

                }

            }
            .item-footer {
                height: 40px;
                line-height: 40px;
                font-size: 0.2rem;
                font-weight: normal;
                padding: 0 15px;
                span {
                    strong {
                        font-weight: normal;
                        color: red;
                    }
                }
                span:nth-child(2) {
                    float: right;
                }
            }
        }
    }

    .cart-footer {
        position: fixed;
        bottom: 50px;

        display: flex;
        flex-direction: row;
        align-items: center;

        height: 60px;
        width: 100%;

        background-color: rgb(236, 235, 235);


        .footer-info {
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;

            font-size: 0.28rem;

            padding-left: 10px;
            input {
                margin: 0 5px;
            }
            span {
                margin: 0 5px;

                strong {
                    color: red;
                }
            }
        }
        .pay-btn {
            width: 40%;
            height: 100%;
            background-color: orange;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white
        }

    }
}