.slider-wrapper{
  position: relative;
  height: 4.5rem;
  width: 100%;
  .carousel-slider{
    width:100%;
    height: 4.5rem;
    .slider-content{
      width: 100%;
      height: 4.5rem;
      .slider-img{
        width: 100%;
        height: 100%;
      }
      .title-bg{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1rem;
        background-color: rgba(180,183,180,0.4);
        .title-p{
          width: 5rem;
          line-height: 1rem;
          color: #fff;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-indent: .3rem;
        }
      }
    }
  }

  .slider-dots{
    position: absolute;
    bottom: 0;
    right: .3rem;
    height: 1rem;
    line-height: 1rem;
    span{
      width: .2rem;
      height: .2rem;
      border: 1px solid #fc5a05;
      border-radius: 50%;
      background-color: #fff;
      display: inline-block;
      margin-left: .1rem;
      &.active{
        background-color: #fc5a05;
      }
    }
  }
}